@import './base.css';

#app{
    width: 100%;
    height: 100vh;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    border-style: none;
    font-family: var(--sanserif-font);
    font-size: 1.1em;
    width: 8em;
    height: 2em;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--color-background-mute);
    color: var(--color-text);
    margin-top: .4em;
}

.btn:hover{
    background-color: var(--color-background-soft);
}

.btn:active{
    background-color: var(--color-text);
    color: var(--color-background-soft);
}

.filename{
    border: 1px solid var(--color-text);
    padding: .4em;
    font-family: var(--sanserif-font);
    font-size: 1.15em;
    font-weight: bold;
}